/*
Default CSS Styles for the Related Posts Widget plugin
Version: 2.0
*/
.rel-post-widget * {
	margin: 0;
	padding: 0;
}
.rel-post-widget {
	font-size: 12px;	
	line-height: 18px;
}
.rel-post-widget p {
	margin-bottom: 0;
}
.rel-post-widget .post-title {
	font-size: 15px;	
	font-weight: bold;
}
.rel-post-widget .post-date {
	font-style: italic;
	margin-bottom: 10px;
}
.rel-post-widget img {
	float: left;
	margin: 5px 10px 0 0;
}
.rel-post-widget ul li {
	border-bottom: 1px solid #ccc;
	list-style: none;
	list-style-type: none;
	margin: 3px 0;
	padding: 3px 0;
}
.rel-post-widget ul li:last-child {
	border-bottom: none;
}
.rel-post-widget .more-link {
	display: inline;
}
.rel-post-widget .post-entry { 
   	overflow: hidden;
   	padding: 0 0 5px 0;
}
.rel-post-widget .comment-num {
}
